@import '../../styles/variables/index';
@import'../../styles/tools/mixins';

.nav-header {
  width: 100%;
  height: 40px;
  background-color: var(--color--background-secondary);
  position: relative;
  display: flex;


  &__title {
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 20px;
    margin: auto;
    align-self: center;
    color: var(--color--secondary);

    @include breakpoint(phone-up) {
      margin: 0 1rem;
      flex: 1;
    }
  }

  &__hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    align-self: center;
    z-index: var(--z-index--level-3);
    -webkit-tap-highlight-color: transparent;

    .line {
      width: 30px;
      height: 3px;
      background: #fff;
      margin: 5px;
      transition: transform 100ms;

      .rotator {
        width: 100%;
        height: 100%;
        background-color: #fff;
      }
    }

    &--opened {
      .line:nth-child(1) {
        display: none;
      }

      .rotator {
        transform: rotateZ(90deg);
        transform-origin: center center;
      }

      .line:nth-child(2) {
        transform: rotateZ(-45deg);
        transform-origin: center center;
      }

      .line:nth-child(3) {
        display: none;
      }
    }

    @include breakpoint(phone-up) {
      display: none;
      pointer-events: none;
    }
  }

  &__menu {
    position: fixed;
    list-style: none;
    width: 100%;
    height: 100vh;
    clip-path: circle(0px at 90% 3%);
    transition: all 200ms ease-out;
    background: var(--color--primary);
    color: var(--color--secondary);
    pointer-events: none;
    z-index: var(--z-index--level-2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

    &--opened {
      clip-path: circle(200% at 90% 3%);
      pointer-events: all;
    }

    &-item {
      font-size: 2em;
      font-weight: bold;

      @include breakpoint(phone-up) {
        font-size: 1em;
        font-weight: 600;
        ;
      }
    }

    @include breakpoint(phone-up) {
      position: relative;
      display: inline;
      width: auto;
      height: auto;
      display: flex;
      flex-direction: row;
      clip-path: none;
      background: transparent;
      pointer-events: all;
      justify-content: space-around;
      width: 50%;
    }
  }
}