:root {
  --color--primary: #003559;
  --color--secondary: #ffffff;

  --color--background-primary: #ddf7ff;
  --color--background-secondary: #006daa;

  --color--background-card: #ffffff;

  --color--button-primary: #0353a4;


}