@font-face {
  font-family: 'GeoSans';
  src: url('./font/GeosansLight.woff') format('woff'),
    url('./font/GeosansLight.ttf') format('truetype');
}

@font-face {
  font-family: 'JackportCollege';
  src: url('./font/collegeb.woff') format('woff'),
    url('./font/collegeb.ttf') format('truetype');
}
