@import '../../styles/variables/index';
@import '../../styles/tools/mixins';

.list {
  overflow-y: auto;
  height: calc(80vh - var(--header--height));
  flex: 1;
  list-style: none;
  margin-bottom: 2em;

  @include breakpoint(tablet-portrait-up) {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 1em;
    padding: 0 2em;
    margin-top: 1em;
  }

  @include breakpoint(tablet-landscape-up) {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    padding: 0 2em;
  }

  @include breakpoint(desktop-up) {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 0 2em;
  }
}
